<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="GetUsersSellsMapper">
    <resultMap id="getSells" type="Sells">
        <result property="id" column="idTSells"/>
        <result property="name" column="SellName"/>
        <result property="sell" column="Sell"/>
    </resultMap>
    
    <select id="getSellsList" resultMap="getSells">
        SELECT idTSells, SellName, Sell
        FROM TSells        
    </select>   
    
    <insert id = "setSells" parameterType = "Sells">
        INSERT INTO TSells (SellName, Sell) 
        VALUES (#{name}, #{sell});
    </insert>
    
    <delete id="deleteOne" parameterType="Sells">
        DELETE 
        FROM TSells 
        WHERE idTSells=#{id};
    </delete> 
    
    <update id ="updateOne" parameterType ="Sells">
        UPDATE TSells as sell
        SET sell.SellName = #{name}, sell.Sell = #{sell}         
        WHERE sell.idTSells=#{id};
    </update>
    
  <!--  
    <update id ="updateOne" parameterType ="Users">
        UPDATE SysUsers as user
        SET user.login = #{login}, user.psw = #{psw}, user.firstName = #{firstName}, user.lastName = #{lastName}, user.idRole = #{idRole}         
        WHERE user.id=#{id};
    </update>
    
    <delete id="deleteOne" parameterType="int">
        DELETE 
        FROM SysUsers 
        WHERE id=#{id};
    </delete>    
    
    
    
    <select id="getList" resultMap="getUsers">
        SELECT user.id, user.login, user.psw,user.firstName,user.lastName,role.nameRole,role.level 
        FROM SysUsers as user, SysRole as role 
        WHERE user.idRole=role.id;
    </select> -->
      
</mapper>